/*Variables CSS*/
:root {
	--pastelYellow: #fefae8;
  	--pastelOrange: #f7e7de;
  	--pastelPinkOrange: #f4dae2;
  	--pastelPink: #edcee5;
  	--pastelPurple: #dec3e1;
  	--pastelBlue: #bbd5f2;
 	--pastelLightBlue: #d4e0f9;
}

/*Navbar*/
.bg-pastel{
    background-color: var(--pastelYellow);   
}


input:checked + p{
	text-decoration: line-through;
	opacity: 0.5;
}

.none-if-checked{
	display : none;
}
.checked{
	text-decoration: line-through;
	opacity: 0.5;
}

.btn-custom-none{
	border: none;
	background: none;
}

.btn-custom{
	border: var(--pastelBlue) solid 1px !important;
    background-color: var(--pastelBlue) !important;
}

.btn-custom:hover{
	background-color: blue !important;
}

i{
	font-size: 25px;
}

.pastelOrange{
	color: var(--pastelOrange);
}

.pastelYellow{
	color: var(--pastelYellow);
}

.pastelPinkOrange{
	color: var(--pastelPinkOrange);
}

.pastelPink{
	color: var(--pastelPink);
}

.pastelPurple{
	color: var(--pastelPurple);
}

.pastelBlue{
	color: var(--pastelBlue);
}

.pastelLightBlue{
	color: var(--pastelLightBlue);
}