/*Variables CSS*/
:root {
	--pastelYellow: #fefae8;
  	--pastelOrange: rgb(255, 166, 110, 0.2);
  	--pastelPinkOrange: #f7e7de;
  	--pastelPink: #edcee5;
 	--pastelLightPink: rgb(242, 166, 196, 0.4);
  	--pastelPurple: #dec3e1;
  	--pastelLightPurple: rgb(176, 146, 196, 0.4);
  	--pastelBlue: #bbd5f2;
 	--pastelLightBlue: #d4e0f9;
 	--pastelLightGreen: rgb(130, 230, 206, 0.4);
 	--pastelGreen: rgb(130, 230, 206, 0.7);
}

/*Navbar*/
.bg-pastel{
    background-color: var(--pastelYellow);   
}


input:checked + p{
	text-decoration: line-through;
	opacity: 0.5;
}

.none-if-checked{
	display : none;
}
.checked{
	text-decoration: line-through;
	opacity: 0.5;
}

.btn-custom-none{
	border: none;
	background: none;
}

.btn-custom{
	border: var(--pastelBlue) solid 1px !important;
    background-color: var(--pastelBlue) !important;
}

.btn-custom:hover{
	background-color: var(--pastelLightBlue) !important;
}

i{
	font-size: 25px;
}

.pastelOrange{
	color: var(--pastelOrange);
}

.pastelYellow{
	color: var(--pastelYellow);
}

.pastelPinkOrange{
	color: var(--pastelPinkOrange);
}

.pastelPink{
	color: var(--pastelPink);
}

.pastelPurple{
	color: var(--pastelPurple);
}

.pastelBlue{
	color: var(--pastelBlue);
}

.pastelLightBlue{
	color: var(--pastelLightBlue);
}

.bgPastelOrange{
	border: none !important;
	background-color: var(--pastelOrange) !important;
}

.bgPastelYellow{
	border: none !important;
	background-color: var(--pastelYellow) !important;
}

.bgPastelPinkOrange{
	border: none !important;
	background-color: var(--pastelPinkOrange) !important;
}

.bgPastelPink{
	border: none !important;
	background-color: var(--pastelPink) !important;
}

.bgPastelLightPink{
	border: none !important;
	background-color: var(--pastelLightPink) !important;
}

.bgPastelPurple{
	border: none !important;
	background-color: var(--pastelPurple) !important;
}

.bgPastelLightPurple{
	border: none !important;
	background-color: var(--pastelLightPurple) !important;
}

.bgPastelBlue{
	border: none !important;
	background-color: var(--pastelBlue) !important;
}

.bgPastelLightBlue{
	border: none !important;
	background-color: var(--pastelLightBlue) !important;
}

.bgPastelGreen{
	border: none !important;
	background-color: var(--pastelGreen) !important;
}

.bgPastelLightGreen{
	border: none !important;
	background-color: var(--pastelLightGreen) !important;
}

/*Pagination*/
.nav-pills .nav-link.active{
	border: none !important;
	background-color: var(--pastelYellow) !important;
	color : #212529 !important;
	border-radius : 0.375rem;
}

.nav-pills .nav-link{
	color : #212529 !important;
	border-radius : 0.375rem;
}