<div class="login-container animated fadeInDown bootstrap snippets bootdeys">
  <div class="loginbox bg-white">
    <form [formGroup]="myForm" (ngSubmit)="onEditTask(myForm)">
      <div class="form-group mb-3">
        <label class="control-label">Nom de la tâche : </label>
        <input
          type="text"
          formControlName="nameTask"
          class="form-control"
          required
        />
      </div>

      <div class="form-group mb-3">
        <label class="control-label">Date de la tâche : </label>
        <input
          type="date"
          formControlName="dateTask"
          class="form-control"
          required
        />
      </div>

      <div class="form-group mb-3">
        <label class="control-label">Description de la tâche : </label>
        <input
          type="text"
          formControlName="description"
          class="form-control"
          required
        />
      </div>

      <div class="form-group mb-3">
        <label class="control-label" for="formCategory">Categorie : </label>
        <select
          id="formCategory"
          class="form-control"
          formControlName="category"
          required
        >
          <option
            *ngFor="let c of categories"
            [ngValue]="c"
            [selected]="taskToEdit.category"
          >
            {{ c.name }}
          </option>
        </select>
      </div>

      <div class="form-group row">
        <div
          class="d-flex flex-row align-items-center justify-content-center mt-3 mb-3"
        >
          <input
            type="checkbox"
            formControlName="checked"
            class="me-1"
            [(ngModel)]="taskToEdit.checked"
          />
          <label class="control-label">Valider la tâche </label>
        </div>
      </div>

      <div class="text-center">
        <button
          type="submit"
          [disabled]="!myForm.valid"
          class="btn bgPastelLightGreen mt-3"
        >
          Modifier la tâche
        </button>
      </div>
    </form>
  </div>
</div>
