<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{index.html}">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Toute Douce Liste</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="container w-50">
			<form th:action="@{/login}" method="post">

				<div class="form-floating mb-3 mt-3">
					<input type="email" class="form-control" id="floatingInput"
						name="mail" placeholder="name@example.com"> <label
						for="floatingInput">Email address</label>
				</div>

				<div class="form-floating mb-3">
					<input type="password" class="form-control" id="floatingPassword"
						name="password" placeholder="Password"> <label
						for="floatingPassword">Password</label>
				</div>

				<button type="submit" class="btn btn-primary text-align-center">Submit</button>

			</form>

			<div th:if="${param.error}" class=" alert alert-danger col-md-12 mt-3">
				Erreur de connexion.</div>

		</div>
	</div>
</body>
</html>